* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: auto;
    font-family: 'Gothic A1', sans-serif;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 15px;
    justify-content: center;

}

input {
    width: 55%;
    padding: 7px 10px;
    border-radius: 50px;
}

.wrapper {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

img {
display: block;    
}

.thumbnail {
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.list {
    display: flex;
    justify-content: space-evenly;
}