* {
    box-sizing: border-box;
}

body {
    max-width: 960px;
    margin: auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 15px;
    justify-content: center;

}

input {
    width: 55%;
    padding: 7px 10px;
    border-radius: 50px;
}

.wrapper {
    text-align: center;
    margin-bottom: 25px;
}

img {
display: block;    
}
